@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-kanit: 'Kanit', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), var(--font-kanit), 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .bg-gradient-neumorphic {
    background-image: linear-gradient(135deg, #FFF 100%, #E8E8E9 0%);
  }

  .shadow-neumorphic {
    box-shadow:
      inset 1px 1px 2px rgba(255, 255, 255, 0.30),
      inset -1px -1px 2px rgba(229, 229, 229, 0.50),
      -3px 3px 6px rgba(229, 229, 229, 0.20),
      3px -3px 6px rgba(229, 229, 229, 0.20),
      -3px -3px 6px rgba(255, 255, 255, 0.90),
      3px 3px 8px rgba(229, 229, 229, 0.90);
  }
  
  .neumorphic {
    border-radius: 0.2905rem;
    background: #F0F0F0;
    box-shadow: 1px 1px 2px 0 rgba(252, 252, 252, 0.30),
      -1px -1px 2px 0 rgba(228, 228, 228, 0.50),
      -1px 1px 2px 0 rgba(228, 228, 228, 0.20) inset,
      1px -1px 2px 0 rgba(228, 228, 228, 0.20) inset,
      -1px -1px 2px 0 rgba(252, 252, 252, 0.90) inset,
      1px 1px 3px 0 rgba(228, 228, 228, 0.90) inset;
  }
}